<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TrelloClone</a>
  <button *ngIf="user" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="user" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div ngbDropdown class="navbar-nav d-inline-block">
      <div class="user-profile" id="user-profile-dropdown" ngbDropdownToggle>
        <div class="avatar">MT</div>
        <span>Welcome {{user.firstName}}!</span>
      </div>
      <div ngbDropdownMenu aria-labelledby="user-profile-dropdown">
        <button ngbDropdownItem>My Account</button>
        <button ngbDropdownItem (click)="logout()">Log out</button>
        <button ngbDropdownItem>Settings</button>
      </div>
    </div>
  </div>
</nav>